<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.internalbuilds.getting.started"
	version 	= "1.0.0">

	<name>[App Name]</name>

	<description>
		Internal Builds - Template App
	</description>

	<author href="http://home.internalbuilds.com"
		email="apps@internalbuilds.com">
		Dhammika  Botejue
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
